
body {
    background: linear-gradient(
      to bottom,
      #309486 20%,
      #D8DBD5 10%
    );
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


li:hover,
li.active {
  background-color: var(--hover);
}

.avatar img {
  border-radius: 50%;
}


/* utilities */
:root {
  --top-color: #EAEAEA;
  --bottom-color: #F2EEEA;
  --lightblue: #98DAFE;
  --white: #FFFFFF;
  --hover: #E9EBEB;
}

.m-size {
  font-size: .8rem;
}

.sm-size {
  font-size: .7rem;
}

.i-color {
  color: #a3a3a3;
}

.cp {
  cursor: pointer;
}

.debug {
  border: 1px solid black;
  background-color:rgba(230, 225, 225, 0.5);
}

.bg-gray {
  background-color:rgba(230, 225, 225, 1);
}


/* /utilities */

/* main sizes  */
.container_sp {
  width: 75%;
  margin: 20px auto;
  height: 100vh;
}

aside {
  width: 40%;
  min-width: 250px;
  height: 100%;
}

aside .top {
  width: 100%;
  height: 140px; 
}

aside .bottom {
  height: calc(100% - 140px);
  overflow-y: scroll;
  background-color: var(--white);
}

section.text  {
  width: 60%;
  height: 100%;
  background-image: url(../img/mine.jpg);
}

section.text .top,
section.text .bottom {
  width: 100%;
  height: 50px;
}


section.text .top {
  background-color: var(--top-color);
}

section.text .center {
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

section.text .bottom,
section.text .bottom button {
  background-color: var(--bottom-color);
}


/* /main sizes  */

 /* aside top */

aside .top .avatar-icons {
  height: 50px;
  width: 100%;
  background-color: var(--top-color);
}

aside .top .notifications {
  height: 60px;
}

aside .top .search-chat {
  height: 30px;
}

aside .top .avatar-icons .avatar {
  width: 50px;
  height: 100%;
}

aside .top .avatar-icons .icons {
  width: calc(100% - 50px)
}

aside .top .notifications {
  background-color: var(--lightblue);
}

aside .top .notifications button.icon {
  background-color: var(--white);
  color: var(--lightblue);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  border-style: none;
}

 /* /aside top */

  /* aside bottom */

  aside .bottom .avatar-text .avatar {
    width: 60px;
    height: 60px;
  }


  /* section text elements */

  section.text .msg-sent,
  section.text .msg-received {
    border-radius: 5px;
    width: 60%;
    height: 10%;
    padding: 8px;
  }

  .msg-sent {
  background-color: #D8F9B7;
  }

  .msg-received {
    background-color: var(--white);
  }